body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  #navbar-pinterest {
    background-color: #252525;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: calc(100% - 20px);
  }
  
  #pinterest-icon{
    margin-right: 10px;
  }

  .finder {
    flex: 1;
    margin-right: 10px;
  }
  #find{
    display: none;
  }
  .finder input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
  #notifications,
  #message,
  #profile-img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
  
  #content {
    margin-top: 60px;
    display: grid;
    grid: auto-flow dense / 1fr 1fr 1fr;
    padding: 10px;
  }
  
  .card-image {
    max-width: 425px;
    height: auto;
    margin: 5px;
  }
  
  .card-image img {
    width: 100%;
    height: auto;
  }
  
  .card-buttons {
    display: none;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .card-image:hover .card-buttons {
    display: flow-root;
    float: right;
  }
  
  @media (max-width: 768px) {
    #navbar-pinterest {
      position: fixed;
      top: auto;
      bottom: 0;
    }
    #find{
      display: flex;
      margin-left: 10px;
    }
    .finder {
      display: none;
    }
    #content {
      margin-top: 0px;
    }

  }
  